<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="DBConn" connectionString="Data Source=WIN-333ABQIFIBO\MSSQLSERVER01;Initial Catalog=Database_Airline;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	<system.web>
		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" timeout="30"/>
		</authentication>
		<authorization>
			<deny users="?"/>
			<!-- Deny all anonymous users globally -->
		</authorization>
		<compilation targetFramework="4.8" debug="true"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<!-- Allow anonymous access to Register.aspx -->
	<location path="Register.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Home.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="CustomerDashboard.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>